:root {
  --primary: #00c889;
  --bg: #005037;
  --AA: #ffffff;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* Style kepala */
header {
  background-color: var(--bg);
  padding-top: 10px; /* Padding atas */
  padding-right: 10px; /* Padding kanan */
  padding-bottom: 10px; /* Padding bawah */
  padding-left: 10px; /* Padding kiri */
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

/* Style navigasi */

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 10rem;
  padding: 0.4rem 1rem;
}
#check {
  display: none;
}

.menu {
  position: absolute;
  right: 5%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.navbar-dsans {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  align-items: baseline;
  background-color: var(--primary);
  padding: 1.4rem 7%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 1rem;
  padding: 0.4rem 1rem;
}
.navbar-dsans a {
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}

.active {
  padding: 0.4rem 1rem;
}

.navbar-dsans a :hover::after {
  transform: scaleX(0.5);
}
.navbar-dsans a.active,
.navbar-dsans a:hover {
  background-color: var(--bg);
  color: #fff;
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}

#click {
  display: none;
}

.nav-list {
  padding-inline-start: 0%;
  padding: 10px;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.nav-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-list a :hover {
  color: var(--bg);
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}
/* Style logo nav */

.logo-dsans {
  color: var(--bg);
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  font-variant-position: super;
}

.logo-dsans:hover {
  font-size: 2.1rem;
  color: #ffffff;
}

.logo-dsans span {
  color: #fff;
}

.logo-dsans span:hover {
  font-size: 2.1rem;
  color: #e4e400;
}
#click {
  display: none;
}

.menu {
  display: none;
}

.input[type="text"] {
  display: block;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    142.99deg,
    rgba(217, 217, 217, 0.63) 15.53%,
    rgba(243, 243, 243, 0.63) 88.19%
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 200px;
  transition: 0.5s;
}

.input[type="text"]:hover {
  width: 240px;
}

.input[type="text"]:focus {
  width: 280px;
}

.icon {
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
}

.icon a {
  color: #ffffff;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 100px 5px 150px;
  padding: 1px 0px 0px 0px;
}

.icon a:hover {
  color: var(--bg);
}
img {
  width: 100px; /* Ukuran logo */
  height: auto; /* Biarkan tinggi menyesuaikan */
  margin-right: 20px; /* Jarak antara logo dan tautan */
  position: relative; /* Atau position: absolute; atau position: fixed; */
  top: 50px; /* Posisi vertikal */
  left: 100px; /* Posisi horizontal */
}
nav a.active,
nav a:hover {
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}
/* Nav end */

/* body */
.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  padding: 0%;
}

.main {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5.5rem;
  border-radius: 10px;
  border: #e4e400;
  background-color: #ffffff;
  margin: 0.5%;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
  color: #005037;
  text-shadow: #e4e400;
}

.main h1:hover {
  font-size: 3rem;
  color: #000000;
  background-color: #00c889;
  border-radius: 10px;
}

.main h1 span:hover {
  color: #fff;
}

.main p {
  color: var(--bg);
  margin-top: 0.3rem;
  font-size: 1.4rem;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 400;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 3.4rem;
  margin-top: 1.5rem;
  margin-right: 0%;
  padding: 10px 10px 10px 10px;
  padding-left: 5px;
  background-color: var(--primary);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.social a {
  color: #fff;
  font-size: 1rem;
  border: 1.5px solid #ffffff;
  border-radius: 100%;
  padding: 0.35rem;
  text-align: center;
  justify-content: center;
  width: 26px;
  align-items: center;
}

.social a:hover {
  color: var(--primary);
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.main h1 span:nth-child(1) {
  font-size: 1.5rem;
}

.images {
  background-image: url(/img/graph3.png);
  background-repeat: no-repeat;
  background-position: 0 -75px;
}

.body-two {
  background-color: #005037;
}

/*jkjwa*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  header {
    padding: 1.3rem 5%;
  }

  .icon {
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
  }

  .icon a {
    color: #ffffff;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}
@media (max-width: 790px) {
  html {
    font-size: 62%;
  }
  .menu {
    display: inline-flex;
  }
  #check:checked ~ .menu #icon-menu {
    display: none;
  }
  .menu #close-menu {
    display: none;
  }
  #check:checked ~ .menu #close-menu {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb (255, 255, 255, 15);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: 0.2s ease;
    text-align: center;
  }
  #check:checked ~ .nav-list {
    height: 17.7rem;
  }
  .nav-list a {
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: translateY(0);
  }

  .icon {
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
  }

  .icon a {
    color: #ffffff;
    padding: 5.5px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #244d61;
  }

  header {
    padding: 0.7rem 1rem;
    align-items: center;
    max-width: 100%;
  }

  nav {
    position: absolute;
    display: grid;
    top: 75px;
    width: calc(100% - 40px);
    text-align: center;
    background-color: #fff;
    left: -100%;
  }

  .navbar-dsans {
    align-items: baseline;
    display: flex;
  }

  .icon a {
    padding: 50%;
  }
  #click:checked ~ nav {
    left: 0%;
    transition: all 0.3s ease;
  }

  section {
    margin: 1rem 1.5rem;
  }
}
